@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Inclusione del bordo nella dimensione totale */
  font-family: "Quicksand", sans-serif;
}
@mixin center-element {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  background-color: rgb(2, 8, 17);
  color: rgb(183, 183, 183);
  display: flex;
  height: 100vh;
}

.main-box {
  height: 90vh;
  margin: 0 auto;
  max-width: 1100px;
  padding: 5% 0 5%;
  width: 90%;
  overflow: scroll;
}

button {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #fff;
  background-color: #007bff;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3; /* Cambio colore su hover */
  border-color: #0056b3; /* Cambio bordo su hover */
}
